<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="rosa-forte"
        defaultHref="/Audiobook"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Audiobook Meu </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Primeiro Capítulo</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>
          Capítulo 1:<br/>
        </p>
          <audio id="audioPlayer" controls>
            <source src="/assets/audios/audiobook-meu/Capitulo_1.mp3" type="audio/mp3" />

            Your browser does not support the audio element.
          </audio><br/>

        <p>
          Conclusão do Capítulo 1:<br/>
        </p>
          <audio id="audioPlayer" controls>
            <source src="/assets/audios/audiobook-meu/Conclusão_Capitulo_1.mp3" type="audio/mp3" />

            Your browser does not support the audio element.
          </audio>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
