<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="rosa-forte" defaultHref="/Audiobook"></ion-back-button>
    </ion-buttons>
    <ion-title>capitulo-um</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>

    <ion-card-content>

      <audio controls>
        <source src="/src/assets/audios/Visão Geral App Gestação.mp3" type="audio/mp3">
        Seu navegador não suporta áudio HTML.
      </audio>

    </ion-card-content>

  </ion-card>

</ion-content>
