<ion-header [translucent]="true">
  <ion-toolbar color="rosa-forte">
    <ion-title>
      Vida de Gestante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card id="cardLivro">
    <img id="capaLivro" alt="Capa do Livro Gestação, Vida e Saúde" src="../../assets/imgs/Capa.jpeg" />
    <ion-card-header>
      <ion-card-title>Gestação, Vida e Saúde</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>

    <ion-button fill="clear">Action 1</ion-button>
    <ion-button fill="clear">Action 2</ion-button>
  </ion-card>

</ion-content>
