#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-title{
  text-align: center;
  color: #ffffff;
  font-family: monospace;
  font-size: 22px;
}


ion-content{
  --background: url("https://img.freepik.com/fotos-gratis/duas-maos-em-forma-de-coracao-no-estomago-de-uma-mae-gravida_181624-6985.jpg?t=st=1710894571~exp=1710898171~hmac=846ebf25e15a67cc92e13cc657ea9a8ec0ac2e3993673f8cc3ce6ef35fa19643&w=360") fixed center;
}

/*#capaLivro{
  height: 20px;
  width: 50px;
}

#cardLivro{
  margin-left: 25%;
  width: 250px;
}*/

ion-card-title{
  font-size: 25px;
  color: #1c249b;
}

#text{
  color: #000;
  font-size: 15px;
}
