<ion-header [translucent]="true">
  <ion-toolbar color="rosa-forte">
    <ion-title>
      Vida de Gestante
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="rosa-forte-escuro">

  <ion-card id="cardLivro">
    <img id="capaLivro" alt="Capa do Livro Gestação, Vida e Saúde" src="../../assets/imgs/Capa.jpeg" />
    <ion-card-header>
      <ion-card-title>Gestação, Vida e Saúde</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p id="text">Aprenda sobre o processo de gestação e a importância da saúde durante a vida.</p>
    </ion-card-content>

    <ion-button routerLink="/livro" fill="clear">Ir para o livro</ion-button>
    <ion-button routerLink="/audiobook" fill="clear">Ir para o audiobook</ion-button>
  </ion-card>

</ion-content>
